@using Moonlit
@model Ecard.Mvc.Models.Grades.EditGrades
<link href="/css/shop_style.css" rel="stylesheet" />
<style>
    .order_details select {
        background: #FFF none repeat scroll 0% 0%;
        border: 1px solid #CCC;
        height: 22px;
        width: 140px;
    }
</style>
<div class="mainbar_wrapper">

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">级别管理 > </a></li>
            <li><a href="#">级别编辑</a></li>
        </ul>
    </div>



    <div class="container-fluid">
        <h2 class="add_tittle">级别编辑</h2>

        <div class="addgoods_name">
            <input type="hidden" id="gradeId" value="@Model.gradeId" />
            <div class="addgoods_name_a">
                <em class="addgoods_name_top"><span class="goods_icon">*</span>名称：</em>
                <input type="text" id="name" value="@Model.name" name="name"/>
            </div>

            <div class="addgoods_name_a">
                <em class="addgoods_name_top"><span class="goods_icon">*</span>销售额：</em>
                <input type="number" id="sale" name="sale" value="@Model.sale" />
            </div>
        </div>

        @*<div class="addgoods_name" style="margin-top:0;">
                <div class="clear">
                    <div class="addgoods_name_a addgoods_fl goods_icon_shangjiala">
                        <em class="addgoods_name_top addgoods_price goods_icon_f"><span class="goods_icon ">*</span>广告状态：</em>
                        <input type="radio" name="state" value="1"><span class="addgoods_shangjia">上架</span>
                        <input type="radio" name="state" value="2"><span class="addgoods_shangjia">下架</span>

                    </div>
                </div>
                <div class="clear">
                    <div class="addgoods_name_a addgoods_fl goods_icon_shangjiala">
                        <em class="addgoods_name_top addgoods_price goods_icon_f"><span class="goods_icon">*</span>广告排序：</em>
                        <input id="rank" name="rank" style="width:40px;" value="@Model.rank">
                    </div>
                </div>

            </div>*@

        <div class="clear"></div>



        @*<div class="addgoods_name" style="margin-top:0;">
                <h2 class="add_tittle add_img">广告图片</h2>

                <ul class="addgoods_photo">
                    <li class="addgoods_photo_a">
                        <div class="addgoods_photo_img">
                            <img id="shopingImg1" src="" />
                        </div>
                        <p style="width:50px;float:left"><input type="file" id="file_upload" name="file_upload" /></p>
                        <p style="position:relative;" class="shanchu">删除</p>
                    </li>
                </ul>
            </div>*@

        <div class="baoxun">
            <button class="baoxunxiugai tianjiafabu" id="EditGrades">保存</button>
            <button class="baoxunxiugai tianjiaquxiao" id="adsReturn">返回</button>
        </div>



    </div>

    <!--------中间更换内容------->
</div>

<link href="/Scripts/uploadify/uploadify.css" rel="stylesheet" />
<script src="/js/jquery-1.9.0.min.js"></script>
<script src="/Scripts/uploadify/jquery.uploadify-3.1.js"></script>
<script src="/js/shuxing_click.js"></script>
<script src="/Scripts/kindeditor-4.1.10/kindeditor-min.js"></script>

@*<script src="/js/AdsCreate.js"></script>*@
<script>
    $(function () {
        $('input[name="state"]').each(function () {
            if ($(this).val() == state) {
                $(this).attr("checked", "checked");
            }
        })
        $("#adsReturn").click(function () {
            window.location.href = "/Grades/List";
        })
        // $("#shopingImg1").attr("src", "/MicroMalls/CommodityImages/" + img)
        $("#EditGrades").click(function () {
            if (confirm("确定保存此次修改吗？")) {
                var name = $("#name").val();
                var gradeId = $("#gradeId").val();
                var sale = $("#sale").val();
                //var state = $('input[name="state"]:checked').val();
                //var rank = $('input[name="rank"]').val();
                //var img1 = $("#shopingImg1").attr("src").substring(28);
                //var defaultimg = "/MicroMalls/CommodityImages/shopdefault.jpg";
                $.ajax({
                    url: "/Grades/Edit",
                    data: {
                        name: name, gradeId: gradeId, sale: sale
                    },
                    type: "post",
                    //cache: false,
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        if (data.Code == 0) {
                            alert("保存成功")
                        }
                        else {
                            alert(data.CodeText)
                        }
                    },
                    error: function () {
                        window.location.href = "/Home/UserError";
                    }
                })
            }

        })
    })

</script>                                             
