html {
        background: #F5F5F5;
    }

    body {
        margin: 0;
    }
    .content {
        position: fixed;
        top: 3.8rem;
        width: 100%;
        height: 100%;
    }
    .content input {
        border: 0rem;
        width: 87%;
        height: 3rem;
        font-size: 1rem;
        margin: 0.5rem;
        margin-left: 1.5rem;
        color: #3B3B3B;
        letter-spacing: 0.12rem;
        display: flex;
        justify-content: center;
        align-items: Center;
    }
    .input {
        width: 100%;
        background: #FFF;
        margin-top:0.3rem;
    }
    .ssq {
        border: 0rem;
        width: 100%;
        height: 3.2rem;
        font-size: 1rem;
        margin: 0.5rem;
        margin-left: 1rem;
        line-height: 3rem;
        color: #3B3B3B;
    }
    .select {
        background: #FFF;
        color: #3B3B3B;
        font-size: 1rem;
        padding: 0.2rem;
        width: 7.78rem;
        padding-bottom: 0.5rem;
        border: 0rem;
        height: 2.2rem;
        color: #757575;
    }
    .text {
        font-size: 1.1rem;
        line-height: 2rem;
        color: #3B3B3B;
        margin: 0.5rem;
        margin-left: 1.2rem;
        width: 86%;
        border: 0rem;
        resize: none;
    }
    .btn {
    width: 100%;
    height: 4rem;
    background: #B59F76;
    position: fixed;
    bottom: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: Center;
    line-height: 3rem;
    color: #FFF;
    font-size:1.2rem;
}
.btn img {
    width: 1.5rem;
    float: left;
    margin-top: 0.7rem;
    margin-right: 0.3rem;
}
.btn span {
    float: left;
    margin-left: 0.2rem;
}