@{
    Layout = null;
}
<html>
<script type="text/javascript" src='@Url.Content("~/Scripts/jquery.js")'></script>
<script type="text/javascript">
    var HKEY_Root, HKEY_Path, HKEY_Key;
    HKEY_Root = "HKEY_CURRENT_USER";
    HKEY_Path = "\\Software\\Microsoft\\Internet Explorer\\PageSetup\\";
    //设置网页打印的页眉页脚为空    
    function PageSetup_Null() {
        try {
            var Wsh = new ActiveXObject("WScript.Shell");
            HKEY_Key = "header";
            Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, "");
            HKEY_Key = "footer";
            Wsh.RegWrite(HKEY_Root + HKEY_Path + HKEY_Key, "");
        } catch (e) { }
    }
    //恢复网页打印的页眉页脚   
    function SetupPage() {
        try {
            var RegWsh = new ActiveXObject("WScript.Shell");
            hkey_key = "header"
            RegWsh.RegWrite(hkey_root + hkey_path + hkey_key, "&w&b页码，&p/&P")
            hkey_key = "footer"
            RegWsh.RegWrite(hkey_root + hkey_path + hkey_key, "&b&d") //去掉了&u 因为我不想显示当前打印页的网址 
            hkey_key = "margin_bottom";
            RegWsh.RegWrite(hkey_root + hkey_path + hkey_key, "0.39"); //0.39相当于把页面设置里面的边距设置为10 
            hkey_key = "margin_left";
            RegWsh.RegWrite(hkey_root + hkey_path + hkey_key, "0.39");
            hkey_key = "margin_right";
            RegWsh.RegWrite(hkey_root + hkey_path + hkey_key, "0.39");
            hkey_key = "margin_top";
            RegWsh.RegWrite(hkey_root + hkey_path + hkey_key, "0.39");
        }
        catch (e) {
            //alert(e);
        }
    }

    function printsetup() {
        // 打印页面设置 
        printer.execwb(8, 1);
    }
    function printpreview() {
        // 打印页面预览 
        PageSetup_Null();
        printer.execwb(7, 1);

    }

    function printit() {
        PageSetup_Null();
        printer.execwb(6, 6);
    } 
</script>
<style media="print">
    .Noprint
    {
        display: none;
    }
    .PageNext
    {
        page-break-after: always;
    }
</style>
<body>
    <div style="text-align: left; font-size: 11px;"> 
     @foreach(var s in (Model??"").ToString().Split('\n'))
    {
        if(string.IsNullOrWhiteSpace(s))
        {
            <br />
            <div>`</div>
        }
        else
        {
            <div>@s.Replace(' ', '　')</div>
        }
    } 
    </div>
    <script>
        $(function () { 
            if ($.browser.msie) {
                $("body").append("<object id='printer' classid='CLSID:8856F961-340A-11D0-A96B-00C04FD705A2' height='0' id='wb' name='wb' width='0'></object> ");
                printit();
            }
        });
    </script>
</body>
</html>
