<?xml version="1.0" encoding="utf-8" ?>
<node>
  <!--<node name="system" title="用户管理">
    <node controller="Role" action="List" />
    <node controller="AdminUser" action="List" />
  </node>-->
  <node name="system" title="基础设置">
    <node controller="Site" action="EditSite" />
    <node controller="WeChat" action="Edit" />
  </node>
  <node name="system" title="广告管理">
    <node controller="Ads" action="AdsList" />
  </node> 
  <node name="system" title="商品管理">
    <node controller="CommodityCategory" action="List" />
    <node controller="Shoping" action="ShopingManager" />
    <node controller="Shoping" action="ShopingList" />
  </node>
  <node name="system" title="秒杀管理">
    <node controller="SecondKillSet" action="Edit" />
    <node controller="SecondKillCommoditys" action="List" />
  </node>
  <node name="system" title="订单管理">
    <node controller="Order" action="OrderList" />
    <!--<node controller="Order" action="ApplyRefundList"/>
    <node controller="Order" action="PointList" />-->
  </node>
  <node name="system" title="会员管理">
    <node controller="Account" action="AccountList" />
    <node controller="RecommendLog" action="RecommendLogList" />
    <!--<node controller="OperationPointLog" action="OperationPointLogList" />-->
  </node>
  <node name="system" title="提现管理">
    <node controller="Withdraw" action="List" />
  </node>
  <node name="system" title="评论管理">
    <node controller="Review" action="List" />
  </node>
  <!--<node name="system" title="文章管理">
    <node controller="Articles" action="Create" />
    <node controller="Articles" action="List" />
  </node>-->
  <!--<node name="system" title="级别管理">
    <node controller="Grades" action="Create" />
    <node controller="Grades" action="List" />
  </node>-->
  <!--<node name="system" title="报表管理">
    <node controller="Report" action="ListCommoditySales" />
  </node>-->
</node>
