<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>    
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false"/>
    </sectionGroup> 
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <container name="ecard">
      <register type="Ecard.Services.ICacheService, Ecard.Infrastructure" mapTo="Ecard.Services.LocalCacheService, Ecard.Infrastructure" name="local"/>
      <register type="Ecard.Services.ICacheService, Ecard.Infrastructure" mapTo="Ecard.Services.RemoteCacheService, Ecard.Infrastructure" name="remote">
        <constructor>  
          <param name="url">   
            <value value="http://localhost:8732/WebCacheService/clearcache/{0}"/>
          </param>
        </constructor> 
      </register>  
    </container>
  </unity>  
  <system.net>
    <mailSettings>
      <smtp from="winsolution@126.com">
        <network host="smtp.126.com" userName="winsolution" password="winsolution123!"/>
      </smtp>
    </mailSettings>
  </system.net>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" expirationPollFrequencyInSeconds="3600" maximumElementsInCacheBeforeScavenging="10000" numberToRemoveWhenScavenging="100" backingStoreName="NullBackingStore"/>
    </cacheManagers> 
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="NullBackingStore"/>
    </backingStores>
  </cachingConfiguration>
  <connectionStrings> 
    <add name="ecard" connectionString="Data Source=.;Initial Catalog=FZ_MRUO;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="adminEmail" value="winsolution@126.com"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/SignIn" timeout="2880"/>
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.transactions>
    <defaultSettings timeout="2:00:00"/>
  </system.transactions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.web.webPages.razor>
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="Moonlit"/>
        <add namespace="Ecard"/>
        <add namespace="Ecard.Mvc"/>
        <add namespace="Ecard.Mvc.ViewModels"/>
        <add namespace="Ecard.Models"/>
        <add namespace="Ecard.Mvc.Models"/>
        <add namespace="Ecard.Mvc.Models.AdminUsers"/>
        <!--<add namespace="Ecard.Mvc.Models.Shops" />
        <add namespace="Ecard.Mvc.Models.PosEndPointes" />-->
        <add namespace="Ecard.Mvc.Models.Users"/>
        <add namespace="Ecard.Mvc.Models.Roles"/>
        <!--<add namespace="Ecard.Mvc.Models.DealLogs" />
        <add namespace="Ecard.Mvc.Models.PointRebates" />
        <add namespace="Ecard.Mvc.Models.ShopDealLogs" />
        <add namespace="Ecard.Mvc.Models.Accounts" />
        <add namespace="Ecard.Mvc.Models.PrePays" />
        <add namespace="Ecard.Mvc.Models.AccountLevelPolicies" />
        <add namespace="Ecard.Mvc.Models.PointPolicies" />-->
        <add namespace="Ecard.Mvc.Models.Sites"/>
        <!--<add namespace="Ecard.Mvc.Models.AmountRates" />
        <add namespace="Ecard.Mvc.Models.AccountTypes" />-->
        <add namespace="Ecard.Mvc.Models.Logs"/>
        <add namespace="Ecard.Mvc.Models.Homes"/>
        <!--<add namespace="Ecard.Mvc.Models.SystemDealLogs" />
        <add namespace="Ecard.Mvc.Models.Reports" />
        <add namespace="Ecard.Mvc.Models.DealOnlines" />
        <add namespace="Ecard.Mvc.Models.Commodities" />
        <add namespace="Ecard.Mvc.Models.PointGifts" />
        <add namespace="Ecard.Mvc.Models.PrintTickets" />
        <add namespace="Ecard.Mvc.Models.DealWays" />
        <add namespace="Ecard.Mvc.Models.CashDealLogs" />
        <add namespace="Ecard.Mvc.Models.CashDealLogSummarys" />
        <add namespace="Ecard.Mvc.Models.PointRebateLogs" />-->
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!--<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>-->
			<!--<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>-->
			<!--<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8733/smsService/" binding="wsHttpBinding" bindingConfiguration="" contract="Moonlit.ServiceModel.ISmsService" name="" kind="" endpointConfiguration=""> 
      </endpoint>
      <endpoint address="http://localhost:8732/EcardOnlineService/" binding="wsHttpBinding" bindingConfiguration="" contract="Ecard.IAccountDealService" name="" kind="" endpointConfiguration=""> 
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
