@using Ecard.Mvc.ActionFilters
@model DistributorUserModel
<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
    <div class="portlet-header ui-widget-header"> 用户信息</div>
    <div class="portlet-content">
        <ul class="side-menu">
            <li>用户姓名: @Model.Name <br/> <br/></li> 
            <li>本次登录: @(Model.LastSignInTime.HasValue ? Model.LastSignInTime.Value.ToString("yyyy-MM-dd HH:mm") : "")<br/> <br/></li> 
        </ul>
    </div>
</div>
<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
    <div class="portlet-header ui-widget-header"> 用户角色</div>
    <div class="portlet-content">
        <ul class="side-menu">
            @foreach (var role in Model.Roles)
            {
            <li>@role <br/> <br/></li> 
            }
        </ul>
    </div>
</div>