/*BODY, DIV, P, FORM, DL, DT, DD
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
UL
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
OL
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
LI
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
H1
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
H2
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
H3
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
H4
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
H5
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
H6
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
INPUT
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
TEXTAREA
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
TH
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
TD
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
BUTTON
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
IFRAME
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
}
BODY
{
    font-size: 12px;
    color: #4b4b4b;
    word-break: break-all;
    text-align: center;
}
H1
{
    font-size: 12px;
}
H2
{
    font-size: 12px;
}
H3
{
    font-size: 12px;
}
H4
{
    font-size: 12px;
}
H5
{
    font-size: 12px;
}
H6
{
    font-size: 12px;
}
TH
{
    font-size: 12px;
}
TD
{
    font-size: 12px;
}
BUTTON
{
    font-size: 12px;
}
SELECT
{
    font-size: 12px;
}
INPUT
{
    font-size: 12px;
}
TEXTAREA
{
    font-size: 12px;
}
TABLE
{
    border-collapse: collapse;
}
IMG
{
    vertical-align: middle;
}
INPUT
{
    vertical-align: middle;
}
BUTTON
{
    vertical-align: middle;
}
SELECT
{
    vertical-align: middle;
}
BUTTON
{
    cursor: pointer;
}
IFRAME
{
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}
IMG
{
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}
LI
{
    list-style-type: none;
}
HTML
{
    width: 100%;
    height: 100%;
}
BODY
{
    width: 100%;
    height: 100%;
}
A
{
    color: #4b4b4b;
    text-decoration: none;
}

A:visited
{
    color: #712626;
    text-decoration: none;
}*/
A:hover
{
    color: #0066b3;
    text-decoration: underline;
}

/* header_right */
.header_right
{
    float: right;
}
.header_right A
{
    background: url(images/imgSprite_02.gif) no-repeat;
    float: left;
    margin-right: 4px;
}
.header_right A SPAN
{
    padding-right: 10px;
    padding-left: 10px;
    background: url(images/imgSprite_03.gif) no-repeat right 0px;
    float: left;
    padding-bottom: 0px;
    cursor: pointer;
    color: #555;
    line-height: 17px;
    padding-top: 0px;
    height: 17px;
}
.header_right A:hover
{
    text-decoration: none;
}

.clearfix
{
    display: inline-block;
}
.column
{
    display: inline-block;
}
HTML .clearfix
{
    height: 1%;
}
HTML .column
{
    height: 1%;
}
.clearfix
{
    display: block;
}
.column
{
    display: block;
}
.clearFloat
{
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0;
    height: 0px;
}
.clear
{
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0;
    height: 0px;
}
.line
{
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0;
    height: 0px;
}
.borderLine
{
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 0;
    height: 0px;
}
.line
{
    background: url(images/bg_2x2_line.gif) repeat-x 0px -1px;
    overflow: hidden;
    height: 1px;
}
.borderLine
{
    border-bottom: #d9d9d9 1px solid;
}
.header
{
    clear: both;
    margin-left: auto;
    width: 950px;
    margin-right: auto;
    
}
.footer
{
    clear: both;
    margin-left: auto;
    width: 950px;
    margin-right: auto;
    text-align: left;
}
.wrap
{
    clear: both;
    margin-left: auto;
    width: 950px;
    margin-right: auto;
    text-align: left;
}
.mainContent
{
    float: right;
    overflow: hidden;
    width: 740px;
}
.sidebar
{
    float: left;
    width: 190px;
}
.column
{
    clear: both;
    margin-bottom: 1em;
}
.container
{
    clear: both;
    margin-left: auto;
    width: 950px;
    margin-right: auto;
    text-align: left;
    background: url(images/bg_2x2_line.gif) repeat-y 200px 0px;
}
.container_nobg
{
    background: none transparent scroll repeat 0% 0%;
}
.content
{
    float: left;
    overflow: hidden;
    width: 540px;
}
.mainContent .sidebar
{
    float: right;
}
.blank_2
{
    clear: both;
    font-size: 1px;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    line-height: 0;
}
.blank_3
{
    clear: both;
    font-size: 1px;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    line-height: 0;
}
.blank_5
{
    clear: both;
    font-size: 1px;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    line-height: 0;
}
.blank_7
{
    clear: both;
    font-size: 1px;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    line-height: 0;
}
.blank_8
{
    clear: both;
    font-size: 1px;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    line-height: 0;
}
.blank_10
{
    clear: both;
    font-size: 1px;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    line-height: 0;
}
.blank_15
{
    clear: both;
    font-size: 1px;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    line-height: 0;
}
.blank_20
{
    clear: both;
    font-size: 1px;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    line-height: 0;
}
.blank_2
{
    line-height: 2px;
    height: 2px;
}
.blank_3
{
    height: 3px;
}
.blank_5
{
    height: 5px;
}
.blank_7
{
    height: 7px;
}
.blank_8
{
    height: 8px;
}
.blank_10
{
    height: 10px;
}
.blank_15
{
    height: 15px;
}
.blank_20
{
    height: 20px;
}
.hide
{
    display: none;
}
.fl
{
    float: left;
}
.fr
{
    float: right;
}
.fn
{
    font-style: normal;
}
.o_hidden
{
    overflow: hidden;
}
.posit
{
    position: relative;
}
.header
{
    margin-bottom: 1em;
}
.headerswf
{
    margin-bottom: 5px;
}
.gmcclogo
{
    margin-bottom: -25px;
    overflow: hidden;
    width: 135px;
    height: 54px;
}
.bar_left
{
    padding-right: 5px;
    padding-left: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    width: 426px;
    color: #759bba;
    padding-top: 3px;
    white-space: nowrap;
    text-align: right;
}
.bar_right
{
    overflow: hidden;
    width: 352px;
}
.bar_left H1
{
    display: inline;
    font-weight: normal;
}
.bar_left I
{
    color: #ef6f03;
    font-style: normal;
}
.bar_left BUTTON
{
    margin-top: -3px;
    font-weight: bold;
    background: url(images/imgSprite.gif) no-repeat -287px -10px;
    margin-left: 15px;
    overflow: hidden;
    width: 72px;
    color: #fff;
    border-top-style: none;
    line-height: 17px;
    border-right-style: none;
    border-left-style: none;
    letter-spacing: 3px;
    height: 17px;
    text-align: center;
    border-bottom-style: none;
}
.bar_left BUTTON.b2
{
    background: url(images/imgSprite.gif) no-repeat -287px -37px;
}
.mainNav
{
    clear: both;
    background: url(images/bg_search_box.jpg) no-repeat left bottom;
    height: 79px;
    float: right;
    width: 100%;
}
.mainNav UL
{
    background-position: 0px -164px;
    background: url(images/bg_btn_blue.gif) repeat-x 0px -164px;
    float: right;
    margin-left: auto;
    overflow: hidden;
    white-space: nowrap;
    height: 34px;
    margin-right: 0px;
}
.mainNav UL LI
{
    margin-top: 7px;
    background: url(images/bg_btn_blue.gif) no-repeat 0px -127px;
    float: left;
    line-height: 25px;
    height: 25px;
}
.mainNav UL LI SPAN.nav_00
{
    background: url(images/imgSprite_03.gif) no-repeat 0px -66px;
}
.mainNav UL LI SPAN.nav_06
{
    background: url(images/imgSprite_03.gif) no-repeat right -116px;
}
.mainNav UL LI SPAN
{
    padding-right: 18px;
    padding-left: 18px;
    float: left;
    padding-bottom: 0px;
    line-height: 25px;
    padding-top: 0px;
    height: 25px;
    text-align: center;
}
.mainNav UL LI.on
{
    margin-top: 0px;
    background: url(images/bg_mainNav_on_l.gif) no-repeat left bottom;
    line-height: 34px;
    height: 34px;
}
.mainNav UL LI.on SPAN
{
    background: url(images/imgSprite_03.gif) no-repeat right -159px;
    line-height: 34px;
    height: 34px;
}
.mainNav UL LI A:hover
{
    text-decoration: none;
}
.mainNav UL LI.on SPAN A
{
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}
.searchBox
{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 8px;
    position: relative;
    float: right;
}
.frm_shotcut
{
    display: inline;
}
.s_text
{
    border-right: #b6b6b6 1px solid;
    padding-right: 5px;
    border-top: #b6b6b6 1px solid;
    padding-left: 5px;
    padding-bottom: 3px;
    border-left: #b6b6b6 1px solid;
    width: 170px;
    color: #666;
    line-height: 15px;
    padding-top: 3px;
    border-bottom: #b6b6b6 1px solid;
    height: 15px;
}
.searchBox .s_text_01
{
    border-right: #b6b6b6 1px solid;
    padding-right: 5px;
    border-top: #b6b6b6 1px solid;
    padding-left: 5px;
    padding-bottom: 3px;
    border-left: #b6b6b6 1px solid;
    width: 170px;
    color: #666;
    line-height: 15px;
    padding-top: 3px;
    border-bottom: #b6b6b6 1px solid;
    height: 15px;
}
.searchBox .s_text_01
{
    border-right: #41b7ec 1px solid;
    border-top: #41b7ec 1px solid;
    background: #edf9ff;
    border-left: #41b7ec 1px solid;
    border-bottom: #41b7ec 1px solid;
}
.searchBox BUTTON
{
    padding-left: 10px;
    font-weight: bold;
    background: url(images/imgSprite.gif) no-repeat -50px -64px;
    overflow: hidden;
    width: 77px;
    color: #fff;
    border-top-style: none;
    line-height: 18px;
    border-right-style: none;
    border-left-style: none;
    height: 18px;
    text-align: center;
    border-bottom-style: none;
}
.searchBox BUTTON.b1
{
    padding-left: 10px;
    font-weight: bold;
    background: url(images/imgSprite.gif) no-repeat -50px -64px;
    overflow: hidden;
    width: 77px;
    color: #fff;
    border-top-style: none;
    line-height: 18px;
    border-right-style: none;
    border-left-style: none;
    height: 18px;
    text-align: center;
    border-bottom-style: none;
}
/* webpart */
.webpart
{
    margin-bottom: 12px;
}
.webpart div.box
{
    border-right: #a8bccd 1px solid;
    border-top: #a8bccd 1px;
    border-left: #a8bccd 1px solid;
    border-bottom: #a8bccd 1px solid;
    padding: 12px;
}
ul.webpart_title
{
    width: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    background-color: Red;
    z-index: 3;
}
ul.webpart_title_bg, table.webpart_title_bg
{
    position: relative;
    left: 0px;
    width: 100%;
    top: 0px;
    background-position: 0px 0px;
    background: url(images/title.png) no-repeat -3px 0px;
    line-height: 28px;
    height: 28px;
    border-bottom-style: none;
}
span.loadingWebPart
{
    text-align: center;
    display: inherit;
    margin-top: auto;
    margin-bottom: auto;
    height: 80px;
    padding-top: 35px;
}
ul.webpart_title_bg li
{
    display: block;
    float: left;
}
ul.webpart_title_bg li.webpart_title_bg_l, table.webpart_title_bg td.webpart_title_bg_l
{
    background: url(images/title.png) no-repeat 0px 0px;
    width: 3px;
}
ul.webpart_title_bg li.webpart_title_bg_r, table.webpart_title_bg td.webpart_title_bg_r
{
    background: url(images/title.png) no-repeat -1272px 0px;
    width: 6px;
}
ul.webpart_title_bg li.webpart_title_bg_r
{
    float: right;
}
.webpart H2
{
    display: inline;
    background: none;
    border-bottom-style: none;
}

.searchBox BUTTON.b1
{
    background: url(images/imgSprite.gif) no-repeat -50px -83px;
}
.searchBox P
{
    padding-right: 5px;
    display: inline;
    padding-left: 5px;
    padding-bottom: 0px;
    color: #fff;
    padding-top: 0px;
}
.searchBox P A
{
    color: #fff;
}
.searchBox P A:visited
{
    color: #fff;
}
.searchBox P A:hover
{
    color: #fff;
}
.searchBox SELECT#subLink
{
    overflow: hidden;
    width: 100px;
}
.footer
{
    border-top: #d6d6d6 1px solid;
    margin-top: 1em;
    overflow: hidden;
    height: 3em;
}
.footer SPAN
{
    margin-top: 0.5em;
    color: #000;
    line-height: 25px;
    height: 25px;
}
.footer SPAN A
{
    color: #838383;
}
.footer .fl
{
    padding-left: 5px;
    width: 500px;
    color: #4a4e4f;
}
.footer .fr
{
    padding-right: 5px;
    width: 400px;
    text-align: right;
}
.sidebar H3
{
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0px;
    overflow: hidden;
    line-height: 28px;
    padding-top: 0px;
    height: 28px;
}
.sidebar H3 A
{
    margin-top: -28px;
    font-weight: normal;
    float: right;
    height: 28px;
}
.newBusiness
{
    margin-bottom: 1em;
}
.tree_menu
{
    margin-bottom: 1em;
}
.newBusiness H3
{
    background: url(images/s_t_imgSprite.gif) no-repeat 0px -58px;
    color: #0167b2;
    line-height: 28px;
    height: 28px;
    border-bottom-style: none;
}
.newBusiness UL
{
    border-right: #b7d9fb 1px solid;
    padding-right: 12px;
    border-top: #b7d9fb 1px;
    padding-left: 12px;
    padding-bottom: 10px;
    border-left: #b7d9fb 1px solid;
    padding-top: 5px;
    border-bottom: #b7d9fb 1px solid;
}
.newBusiness UL LI
{
    line-height: 2em;
    height: 2em;
}
.icon_img
{
    margin: 6px 0px 6px 4px;
}
.newBusiness2 UL LI
{
    padding-right: 0px;
    padding-left: 0px;
    background: url(images/bg_2x2_line.gif) repeat-x 0px bottom;
    padding-bottom: 3px;
    line-height: 20px;
    padding-top: 3px;
    height: auto;
}
.newBusiness2 UL LI SPAN
{
    display: block;
    padding-left: 12px;
}
.newBusiness2 UL LI SPAN IMG
{
    margin: 6px auto;
    vertical-align: middle;
}
.subNav
{
    padding-right: 5px;
    padding-left: 15px;
    margin-bottom: 1em;
    padding-bottom: 0px;
    overflow: hidden;
    line-height: 21px;
    padding-top: 5px;
    border-bottom: #e8e8e8 1px solid;
    height: 21px;
}
.subNav STRONG
{
    font-size: 14px;
    float: left;
}
.subNav OL
{
    display: inline;
}
.subNav OL LI
{
    display: inline;
}
.subNav DIV
{
    color: #999;
    text-align: right;
}
.subNav DIV A
{
    color: #999;
}
.subNav DIV A:visited
{
    color: #999;
}
.subNav DIV A:hover
{
    color: #999;
}
.subNav DIV A:hover
{
    text-decoration: underline;
}
.column_02
{
    width: 365px;
}
.content .column_02
{
    overflow: hidden;
    width: 265px;
}
.cm_lightBlue
{
    background: url(images/bg_2x2_line.gif) #fafdff repeat-x 50% bottom;
    padding-bottom: 1em;
}
/*
H2
{
    padding-right: 0.5em;
    padding-left: 1em;
    padding-bottom: 0px;
    color: #0167b2;
    line-height: 24px;
    padding-top: 0px;
    border-bottom: #aabdd1 1px solid;
    height: 24px;
}
H3
{
    padding-right: 0.5em;
    padding-left: 1em;
    padding-bottom: 0px;
    color: #0167b2;
    line-height: 24px;
    padding-top: 0px;
    border-bottom: #aabdd1 1px solid;
    height: 24px;
}
H2 A
{
    font-weight: normal;
    float: right;
    margin: 0px 0px 0px 0px;
}
H2 A.tit
{
    font-weight: bold;
    float: none;
    margin: 0px;
    color: #0167b2;
}
H3 A.tit
{
    font-weight: bold;
    float: none;
    margin: 0px;
    color: #0167b2;
}
H2 A.tit:hover
{
    font-weight: bold;
    float: none;
    margin: 0px;
    color: #0167b2;
}
H3 A.tit:hover
{
    font-weight: bold;
    float: none;
    margin: 0px;
    color: #0167b2;
}
H2 A.tit:visited
{
    font-weight: bold;
    float: none;
    margin: 0px;
    color: #0167b2;
}
H3 A.tit:visited
{
    font-weight: bold;
    float: none;
    margin: 0px;
    color: #0167b2;
}*/
.sidebar H3
{
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
}
.tit_art
{
    font-size: 16px;
    background: none transparent scroll repeat 0% 0%;
    padding-bottom: 1em;
    color: #0167b2;
    text-align: center;
    border-bottom-style: none;
}
.tit_cont
{
    border-top: #fff 1px solid;
    background: url(images/bg_btn_blue.gif) repeat-x 0px -203px;
    overflow: hidden;
    line-height: 27px;
    border-bottom: #bcd2e9 1px solid;
    height: 27px;
}
.tit_p
{
    padding-right: 5px;
    border-top: #c2d8e3 3px solid;
    font-weight: normal;
    background: none transparent scroll repeat 0% 0%;
    color: #0e8fcb;
    line-height: 26px;
    border-bottom: #c2d8e3 1px solid;
    height: 26px;
}
.tit_p A
{
    color: #0e8fcb;
}
tit_p A:hover
{
    color: #0e8fcb;
}
tit_p A:visited
{
    color: #0e8fcb;
}
.tit_w_01
{
    background: url(images/imgSprite_title.gif) no-repeat;
    overflow: hidden;
    line-height: 28px;
    height: 28px;
    border-bottom-style: none;
}
.tit_w_01_02
{
    background: url(images/imgSprite_title.gif) no-repeat;
    overflow: hidden;
    line-height: 28px;
    height: 28px;
    border-bottom-style: none;
}
.tit_w_01_03
{
    background: url(images/imgSprite_title.gif) no-repeat;
    overflow: hidden;
    line-height: 28px;
    height: 28px;
    border-bottom-style: none;
}
.tit_w_265
{
    background: url(images/imgSprite_title.gif) no-repeat;
    overflow: hidden;
    line-height: 28px;
    height: 28px;
    border-bottom-style: none;
}
.tit_w_01_02
{
    background: url(images/imgSprite_title.gif) no-repeat 0px -32px;
}
.tit_w_01_03
{
    background: url(images/imgSprite_title.gif) no-repeat 0px -127px;
}
.tit_w_265
{
    background: url(images/imgSprite_title.gif) no-repeat right -94px;
}
.tit_w_01 .more
{
    margin-top: -28px;
    float: right;
}
.tit_w_01_02 .more
{
    margin-top: -28px;
    float: right;
}
.tit_p A
{
    margin-top: -28px;
    float: right;
}
.tit_w_01_03 A
{
    margin-top: -28px;
    float: right;
}
.tit_w_265 A
{
    margin-top: -28px;
    float: right;
}
.textLeft
{
    text-align: left;
}
.textRight
{
    text-align: right;
}
.textCenter
{
    text-align: center;
}
.fb
{
    font-weight: bold;
}
.blue_01
{
    color: #628bb1;
}
.blue_02
{
    color: #0167b2;
}
.c_gotone
{
    color: #0167b2;
}
.red_01
{
    color: #ff5900;
}
.green
{
    color: #029c00;
}
.green_02
{
    color: #659188;
}
.orange
{
    color: #ff6000;
}
.c_m-zone
{
    color: #ff7903;
}
.c_easyown
{
    color: #2b9892;
}
.c_group
{
    color: #636fe9;
}
.c_999
{
    color: #999;
}
.btn_blue
{
    border-right: #0ea2f3 1px solid;
    padding-right: 5px;
    border-top: #0ea2f3 1px solid;
    padding-left: 5px;
    background: url(images/bg_btn_blue.gif) #fff repeat-x 0px 0px;
    padding-bottom: 0px;
    margin: 0px 8px;
    overflow: visible;
    border-left: #0ea2f3 1px solid;
    color: #333;
    line-height: 12px;
    padding-top: 0px;
    border-bottom: #0ea2f3 1px solid;
    height: 20px;
    text-align: center;
}
.btn_blue_02
{
    border-right: #0ea2f3 1px solid;
    padding-right: 5px;
    border-top: #0ea2f3 1px solid;
    padding-left: 5px;
    background: url(images/bg_btn_blue.gif) #fff repeat-x 0px 0px;
    padding-bottom: 0px;
    margin: 0px 8px;
    overflow: visible;
    border-left: #0ea2f3 1px solid;
    color: #333;
    line-height: 12px;
    padding-top: 0px;
    border-bottom: #0ea2f3 1px solid;
    height: 20px;
    text-align: center;
}
A.btn_blue_02
{
    border-right: #0ea2f3 1px solid;
    padding-right: 5px;
    border-top: #0ea2f3 1px solid;
    padding-left: 5px;
    background: url(images/bg_btn_blue.gif) #fff repeat-x 0px 0px;
    padding-bottom: 0px;
    margin: 0px 8px;
    overflow: visible;
    border-left: #0ea2f3 1px solid;
    color: #333;
    line-height: 12px;
    padding-top: 0px;
    border-bottom: #0ea2f3 1px solid;
    height: 20px;
    text-align: center;
}
A.btn_blue_75_02
{
    border-right: #0ea2f3 1px solid;
    padding-right: 5px;
    border-top: #0ea2f3 1px solid;
    padding-left: 5px;
    background: url(images/bg_btn_blue.gif) #fff repeat-x 0px 0px;
    padding-bottom: 0px;
    margin: 0px 8px;
    overflow: visible;
    border-left: #0ea2f3 1px solid;
    color: #333;
    line-height: 12px;
    padding-top: 0px;
    border-bottom: #0ea2f3 1px solid;
    height: 20px;
    text-align: center;
}
A.btn_blue_75
{
    border-right: #0ea2f3 1px solid;
    padding-right: 5px;
    border-top: #0ea2f3 1px solid;
    padding-left: 5px;
    background: url(images/bg_btn_blue.gif) #fff repeat-x 0px 0px;
    padding-bottom: 0px;
    margin: 0px 8px;
    overflow: visible;
    border-left: #0ea2f3 1px solid;
    color: #333;
    line-height: 12px;
    padding-top: 0px;
    border-bottom: #0ea2f3 1px solid;
    height: 20px;
    text-align: center;
}
A.btn_blue_75_02
{
    background: url(images/bg_btn_blue.gif) #fff repeat-x 0px 1px;
    line-height: 22px;
    height: 22px;
}
A.btn_blue_75
{
    background: url(images/bg_btn_blue.gif) #fff repeat-x 0px 1px;
    line-height: 22px;
    height: 22px;
}
.btn_blue_75
{
    width: 75px;
}
.btn_blue_75_02
{
    width: 75px;
}
A.btn_blue_75
{
    margin-top: -6px;
    display: inline;
    font-size: 12px;
    float: left;
}
A.btn_blue_02
{
    margin-top: -6px;
    display: inline;
    font-size: 12px;
    float: left;
}
A.btn_blue_75_02
{
    margin-top: -6px;
    display: inline;
    font-size: 12px;
    float: left;
}
A.btn_blue_75:hover
{
    background-position: 0px -22px;
    text-decoration: none;
}
A.btn_blue_02:hover
{
    background-position: 0px -22px;
    text-decoration: none;
}
A.btn_blue_75_02:hover
{
    background-position: 0px -22px;
    text-decoration: none;
}
A.btn_blue
{
    border-right: #0ea2f3 1px solid;
    padding-right: 5px;
    border-top: #0ea2f3 1px solid;
    padding-left: 5px;
    background: url(images/bg_btn_blue.gif) #fff repeat-x 0px 0px;
    padding-bottom: 0px;
    margin: 0px 8px;
    overflow: visible;
    border-left: #0ea2f3 1px solid;
    color: #333;
    line-height: 12px;
    padding-top: 0px;
    border-bottom: #0ea2f3 1px solid;
    height: 20px;
    text-align: center;
}
A.btn_blue_02
{
    background: url(images/bg_btn_blue.gif) #fff repeat-x 0px 1px;
    line-height: 22px;
    height: 22px;
}
A.btn_blue
{
    background: url(images/bg_btn_blue.gif) #fff repeat-x 0px 1px;
    line-height: 22px;
    height: 22px;
}
.btn_blue_02
{
    background-position: 0px -23px;
}
.btn_blue_75_02
{
    background-position: 0px -23px;
}
A.btn_blue:hover
{
    background-position: 0px -22px;
    text-decoration: none;
}
A.btn_blue
{
    margin-top: -6px;
    display: inline;
    font-size: 12px;
    float: left;
}
.btn_online
{
    padding-left: 93px;
    background: url(images/imgSprite.gif) no-repeat -182px -10px;
    overflow: hidden;
    width: 93px;
    border-top-style: none;
    text-indent: 0px;
    border-right-style: none;
    border-left-style: none;
    height: 23px;
    border-bottom-style: none;
}
.btn_online_02
{
    padding-left: 93px;
    background: url(images/imgSprite.gif) no-repeat -182px -10px;
    overflow: hidden;
    width: 93px;
    border-top-style: none;
    text-indent: 0px;
    border-right-style: none;
    border-left-style: none;
    height: 23px;
    border-bottom-style: none;
}
.btn_online_02
{
    background: url(images/imgSprite.gif) no-repeat -182px -34px;
}
.tb02 TR TD
{
    border-right: #bcd2e9 1px solid;
    padding-right: 5px;
    border-top: #bcd2e9 1px solid;
    padding-left: 5px;
    padding-bottom: 3px;
    border-left: #bcd2e9 1px solid;
    line-height: 24px;
    padding-top: 3px;
    border-bottom: #bcd2e9 1px solid;
}
.tb_m-zone TR TD
{
    border-right: #e4d2c0 1px solid;
    padding-right: 5px;
    border-top: #e4d2c0 1px solid;
    padding-left: 5px;
    padding-bottom: 0px;
    border-left: #e4d2c0 1px solid;
    color: #666;
    line-height: 24px;
    padding-top: 0px;
    border-bottom: #e4d2c0 1px solid;
}
.tb_m-zone THEAD TR TD
{
    background: #fff5cb;
    color: #984f08;
    text-align: center;
}
.tb_m-zone THEAD TR TD.td_03
{
    font-weight: bold;
    background: #f2e0ba;
}
.tb_gotone TR TD
{
    border-right: #c1d1d9 1px solid;
    padding-right: 5px;
    border-top: #c1d1d9 1px solid;
    padding-left: 5px;
    padding-bottom: 0px;
    border-left: #c1d1d9 1px solid;
    color: #666;
    line-height: 24px;
    padding-top: 0px;
    border-bottom: #c1d1d9 1px solid;
}
.tb_gotone THEAD TR TD
{
    background: #d6effd;
    color: #427ba6;
    text-align: center;
}
.tb_gotone THEAD TR TD.td_03
{
    font-weight: bold;
    background: #9bd4f4;
}
.tb_easyown TR TD
{
    border-right: #baded4 1px solid;
    padding-right: 5px;
    border-top: #baded4 1px solid;
    padding-left: 5px;
    padding-bottom: 0px;
    border-left: #baded4 1px solid;
    color: #666;
    line-height: 24px;
    padding-top: 0px;
    border-bottom: #baded4 1px solid;
}
.tb_easyown THEAD TR TD
{
    background: #d8fbf1;
    color: #017762;
    text-align: center;
}
.tb_easyown THEAD TR TD.td_03
{
    font-weight: bold;
    background: #bbe8dc;
}
.tb_gotone
{
    margin-left: 1px;
}
.tb_m-zone
{
    margin-left: 1px;
}
.tb_easyown
{
    margin-left: 1px;
}
.login_contentform
{
    z-index: 1000;
    left: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
    height: 100%;
}
.login_contentform .filter
{
    padding-right: 0px;
    padding-left: 0px;
    z-index: 140;
    background: #000;
    filter: alpha(opacity=10);
    left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    overflow: hidden;
    width: 100%;
    padding-top: 0px;
    position: absolute;
    top: 0px;
    height: 100%;
    opacity: .1;
}
.login_contentform IFRAME
{
    filter: alpha(opacity=0);
    left: 0px;
    width: 100%;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    position: absolute;
    top: 0px;
    height: 100%;
    border-bottom-style: none;
    moz-opacity: 0;
}
.login_contentform .pop
{
    border-right: #87b4e5 1px solid;
    border-top: #87b4e5 1px solid;
    z-index: 200;
    background: #fff;
    left: 18%;
    border-left: #87b4e5 1px solid;
    width: 380px;
    border-bottom: #87b4e5 1px solid;
    position: absolute;
    top: 10.5%;
    text-align: left;
}
.login_contentform .pop H4
{
    padding-right: 8px;
    padding-left: 17px;
    font-size: 12px;
    background: url(images/bg_btn_blue.gif) repeat-x 0px -89px;
    padding-bottom: 0px;
    overflow: hidden;
    color: #0167b2;
    line-height: 25px;
    padding-top: 0px;
    border-bottom: #87b4e5 1px solid;
    height: 25px;
}
.login_contentform .pop H4 SPAN
{
    padding-right: 0px;
    margin-top: -25px;
    padding-left: 15px;
    background: url(images/imgSprite_03.gif) no-repeat 0px -20px;
    float: right;
    padding-bottom: 0px;
    cursor: pointer;
    padding-top: 0px;
}
P
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 3px;
    padding-top: 3px;
}
P SELECT
{
    width: 110px;
}
P input.input01
{
    height: 18px;
    width: 100px;
}
P .input01
{
    border-right: #c1d1d9 1px solid;
    padding-right: 3px;
    border-top: #c1d1d9 1px solid;
    padding-left: 3px;
    padding-bottom: 0px;
    border-left: #c1d1d9 1px solid;
    padding-top: 0px;
    border-bottom: #c1d1d9 1px solid;
    line-height: 18px;
}
.buttons
{
    margin-top:12px;
}
.block
{
    background: transparent url(images/bg_2x2_line.gif) repeat-x scroll center bottom;
    padding-bottom: 3px;
    margin-bottom: 2px;
}
span.notify
{
    color: #FF5900;
}
span.notify_pre
{
    width:60px;
    text-align:right;
    margin-right:3px;
    display:inline-block;
}
P .input02
{
    border-right: #41b7ec 1px solid;
    border-top: #41b7ec 1px solid;
    background: #edf9ff;
    border-left: #41b7ec 1px solid;
    border-bottom: #41b7ec 1px solid;
}

.box p
{
    margin-bottom: 4px;
}
.button01, .button02
{
    background: #FFFFFF url(images/bg_btn_blue.gif) repeat-x scroll 0 0;
    border: 1px solid #0EA2F3;
    color: #333333;
    height: 22px;
    line-height: 20px;
    margin: 0 4px;
    overflow: visible;
    padding: 0px 5px;
    text-align: center;
}
.button02
{
    background-position: 0 -23px;
}
P .verifycode
{
    border-right: #c1d1d9 1px solid;
    padding-right: 3px;
    border-top: #c1d1d9 1px solid;
    padding-left: 3px;
    padding-bottom: 0px;
    border-left: #c1d1d9 1px solid;
    line-height: 18px;
    padding-top: 0px;
    border-bottom: #c1d1d9 1px solid;
    height: 18px;
}
P .verifycode_02
{
    border-right: #c1d1d9 1px solid;
    padding-right: 3px;
    border-top: #c1d1d9 1px solid;
    padding-left: 3px;
    padding-bottom: 0px;
    border-left: #c1d1d9 1px solid;
    line-height: 18px;
    padding-top: 0px;
    border-bottom: #c1d1d9 1px solid;
    height: 18px;
}
P .rndsms
{
    border-right: #c1d1d9 1px solid;
    padding-right: 3px;
    border-top: #c1d1d9 1px solid;
    padding-left: 3px;
    padding-bottom: 0px;
    border-left: #c1d1d9 1px solid;
    line-height: 18px;
    padding-top: 0px;
    border-bottom: #c1d1d9 1px solid;
    height: 18px;
}
P .rndsms_02
{
    border-right: #c1d1d9 1px solid;
    padding-right: 3px;
    border-top: #c1d1d9 1px solid;
    padding-left: 3px;
    padding-bottom: 0px;
    border-left: #c1d1d9 1px solid;
    line-height: 18px;
    padding-top: 0px;
    border-bottom: #c1d1d9 1px solid;
    height: 18px;
}
.verifycode
{
    border-right: #c1d1d9 1px solid;
    padding-right: 3px;
    border-top: #c1d1d9 1px solid;
    padding-left: 3px;
    padding-bottom: 0px;
    border-left: #c1d1d9 1px solid;
    line-height: 18px;
    padding-top: 0px;
    border-bottom: #c1d1d9 1px solid;
    height: 18px;
}
.verifycode_02
{
    border-right: #c1d1d9 1px solid;
    padding-right: 3px;
    border-top: #c1d1d9 1px solid;
    padding-left: 3px;
    padding-bottom: 0px;
    border-left: #c1d1d9 1px solid;
    line-height: 18px;
    padding-top: 0px;
    border-bottom: #c1d1d9 1px solid;
    height: 18px;
}
P .verifycode_02
{
    border-right: #41b7ec 1px solid;
    border-top: #41b7ec 1px solid;
    background: #edf9ff;
    border-left: #41b7ec 1px solid;
    border-bottom: #41b7ec 1px solid;
}
P .rndsms_02
{
    border-right: #41b7ec 1px solid;
    border-top: #41b7ec 1px solid;
    background: #edf9ff;
    border-left: #41b7ec 1px solid;
    border-bottom: #41b7ec 1px solid;
}
.verifycode_02
{
    border-right: #41b7ec 1px solid;
    border-top: #41b7ec 1px solid;
    background: #edf9ff;
    border-left: #41b7ec 1px solid;
    border-bottom: #41b7ec 1px solid;
}
P .verifycode
{
    width: 70px;
}
P .verifycode_02
{
    width: 70px;
}
.verifycode_02
{
    width: 70px;
}
.verifycode
{
    width: 70px;
}
P .rndsms
{
    width: 134px;
}
P .rndsms_02
{
    width: 134px;
}
.login_contentform .btn_list INPUT
{
    vertical-align: middle;
}
.login_contentform .btn_list BUTTON
{
    padding-right: 0px;
    padding-left: 0px;
    background: url(images/imgSprite.gif) no-repeat 0px -10px;
    padding-bottom: 0px;
    margin: 0px 4px;
    overflow: hidden;
    width: 90px;
    cursor: pointer;
    border-top-style: none;
    line-height: 23px;
    padding-top: 0px;
    border-right-style: none;
    border-left-style: none;
    height: 26px;
    border-bottom-style: none;
}
.login_contentform .btn_list BUTTON.reset
{
    background: url(images/imgSprite.gif) no-repeat -91px -10px;
}
.login_contentform .btn_list BUTTON.reset_02
{
    background: url(images/imgSprite.gif) no-repeat -91px -37px;
}
.login_contentform .btn_list
{
    clear: both;
    border-top: #9d9d9d 1px dashed;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: #9d9d9d 1px dashed;
    text-align: center;
}
.login_contentform .btn_list .btn
{
    display: block;
    padding-top: 2px;
}
.login_contentform P.bottom
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 10px;
}
.login_contentform P.bottom SPAN A
{
    color: #808080;
}
.pop_flash .pop
{
    margin-top: 100px;
    width: 600px;
}
.pop_flash .pop .box
{
    text-align: center;
}
.pop_tip_msn
{
    z-index: 5000;
    width: 150px;
    position: absolute;
}
.tipfilter
{
    font-size: 1px;
    z-index: 10;
    background: none transparent scroll repeat 0% 0%;
    filter: alpha(opacity=0);
    left: 0px;
    width: 100%;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    position: absolute;
    top: 0px;
    height: 100%;
    border-bottom-style: none;
    opacity: 0;
}
.pop_tip_content
{
    z-index: 20;
    background: url(images/imgSprite.gif) no-repeat 0px -104px;
    left: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
    text-align: left;
}
.pop_tip_content .bg_tr
{
    background: url(images/imgSprite.gif) no-repeat right -104px;
}
.pop_tip_content .bg_bl
{
    background: url(images/bg_tip_pop_msn.gif) no-repeat left bottom;
}
.pop_tip_content .bg_br
{
    padding-right: 12px;
    padding-left: 12px;
    background: url(images/bg_tip_pop_msn.gif) no-repeat right bottom;
    padding-bottom: 4px;
    line-height: 22px;
    padding-top: 14px;
}
.tree_menu H3
{
    background: url(images/s_t_imgSprite.gif) no-repeat 0px -29px;
    color: #fff;
}
.leftmenu_kuang
{
    border-right: #a9bccb 1px solid;
    padding-right: 17px;
    border-top: #a9bccb 1px;
    padding-left: 17px;
    padding-bottom: 12px;
    border-left: #a9bccb 1px solid;
    padding-top: 12px;
    border-bottom: #a9bccb 1px solid;
}
.leftmenu_kuang UL LI
{
    padding-left: 18px;
    font-weight: bold;
    background: url(images/imgSprite_03.gif) no-repeat 6px -370px;
    overflow: hidden;
    line-height: 28px;
    border-bottom: #d3e0e9 1px solid;
}
.leftmenu_kuang UL LI A
{
    color: #4a4a4a;
}
.leftmenu_kuang UL LI.on
{
    background: url(images/imgSprite_03.gif) no-repeat 6px -318p;
}
.leftmenu_kuang UL LI.on A
{
    color: #0167b2;
}
.leftmenu_kuang UL LI A:hover
{
    color: #147bd3;
    text-decoration: underline;
}
.leftmenu_kuang UL LI UL
{
    display: none;
    margin: 0px 0px 0px -15px;
}
.leftmenu_kuang UL LI.on UL
{
    display: block;
}
.leftmenu_kuang UL LI.on UL
{
    font-weight: normal;
    background: #fff;
    line-height: 22px;
    border-bottom-style: none;
}
.leftmenu_kuang UL LI.on UL LI
{
    font-weight: normal;
    background: #fff;
    line-height: 22px;
    border-bottom-style: none;
}
.s_ad_list LI
{
    margin-bottom: 5px;
    overflow: hidden;
    height: 60px;
}
.article_box
{
    border-right: #a8bccd 1px solid;
    padding-right: 1.6em;
    border-top: #a8bccd 1px solid;
    padding-left: 1.6em;
    min-height: 390px;
    padding-bottom: 1.6em;
    border-left: #a8bccd 1px solid;
    padding-top: 1.6em;
    border-bottom: #a8bccd 1px solid;
    height: 390px;
}
.article_box A
{
    color: #0167b2;
}
.article A
{
    color: #4d76b3;
}
.article
{
    font-size: 14px;
    overflow: hidden;
    line-height: 24px;
}
.article_02
{
    font-size: 14px;
    overflow: hidden;
    line-height: 24px;
}
.article_02
{
    font-size: 12px;
}
.article H4
{
    font-weight: normal;
    font-size: 12px;
}
.article .article_date
{
    border-top: #d9d9d9 1px solid;
    font-size: 12px;
    color: #666;
    border-bottom: #d9d9d9 1px solid;
    text-align: center;
}
.article_02 .article_date
{
    border-top: #d9d9d9 1px solid;
    font-size: 12px;
    color: #666;
    border-bottom: #d9d9d9 1px solid;
    text-align: center;
}
.article P
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
}
.article_02 P
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
}
.article STRONG
{
    color: #000;
}
#sug_form
{
    margin-top: 10px;
}
#sug_form TABLE TR TD
{
    height: 28px;
}
.list_title
{
    padding-right: 9em;
    border-top: #c2d8e3 3px solid;
    padding-left: 3em;
    padding-bottom: 0px;
    overflow: hidden;
    color: #0e8fcb;
    line-height: 2em;
    padding-top: 0px;
    border-bottom: #c2d8e3 1px solid;
    height: 2em;
}
.content .list_title
{
    padding-right: 3em;
}
.newslist
{
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0px;
    padding-top: 1em;
}
.newslist LI
{
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 0px;
    overflow: hidden;
    line-height: 2em;
    padding-top: 0px;
    height: 2em;
}
.newslist LI SPAN
{
    margin-top: -2em;
    float: right;
    color: #666;
}
.content_box .newslist LI
{
    padding-right: 7em;
    padding-left: 0.5em;
    background: url(images/bg_2x3_line.gif) repeat-x 50% bottom;
}
.questions DT
{
    font-weight: bold;
    padding-top: 1em;
}
.text_01
{
    border-right: #c1d1d9 1px solid;
    padding-right: 3px;
    border-top: #c1d1d9 1px solid;
    padding-left: 3px;
    padding-bottom: 1px;
    border-left: #c1d1d9 1px solid;
    width: 125px;
    padding-top: 1px;
    border-bottom: #c1d1d9 1px solid;
}
.text_02
{
    border-right: #c1d1d9 1px solid;
    padding-right: 3px;
    border-top: #c1d1d9 1px solid;
    padding-left: 3px;
    padding-bottom: 1px;
    border-left: #c1d1d9 1px solid;
    width: 125px;
    padding-top: 1px;
    border-bottom: #c1d1d9 1px solid;
}
.text_01_02
{
    border-right: #c1d1d9 1px solid;
    padding-right: 3px;
    border-top: #c1d1d9 1px solid;
    padding-left: 3px;
    padding-bottom: 1px;
    border-left: #c1d1d9 1px solid;
    width: 125px;
    padding-top: 1px;
    border-bottom: #c1d1d9 1px solid;
}
.text_02_02
{
    border-right: #c1d1d9 1px solid;
    padding-right: 3px;
    border-top: #c1d1d9 1px solid;
    padding-left: 3px;
    padding-bottom: 1px;
    border-left: #c1d1d9 1px solid;
    width: 125px;
    padding-top: 1px;
    border-bottom: #c1d1d9 1px solid;
}
.text_02
{
    width: 250px;
}
.text_02_02
{
    width: 250px;
}
SELECT.text_01
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    width: 136px;
    padding-top: 0px;
}
.textarea_01
{
    border-right: #c1d1d9 1px solid;
    padding-right: 0px;
    border-top: #c1d1d9 1px solid;
    padding-left: 3px;
    padding-bottom: 3px;
    border-left: #c1d1d9 1px solid;
    width: 405px;
    padding-top: 3px;
    border-bottom: #c1d1d9 1px solid;
    height: 80px;
}
.textarea_01_02
{
    border-right: #c1d1d9 1px solid;
    padding-right: 0px;
    border-top: #c1d1d9 1px solid;
    padding-left: 3px;
    padding-bottom: 3px;
    border-left: #c1d1d9 1px solid;
    width: 405px;
    padding-top: 3px;
    border-bottom: #c1d1d9 1px solid;
    height: 80px;
}
.text_01_02
{
    border-right: #41b7ec 1px solid;
    border-top: #41b7ec 1px solid;
    background: #edf9ff;
    border-left: #41b7ec 1px solid;
    border-bottom: #41b7ec 1px solid;
}
.text_02_02
{
    border-right: #41b7ec 1px solid;
    border-top: #41b7ec 1px solid;
    background: #edf9ff;
    border-left: #41b7ec 1px solid;
    border-bottom: #41b7ec 1px solid;
}
.textarea_01_02
{
    border-right: #41b7ec 1px solid;
    border-top: #41b7ec 1px solid;
    background: #edf9ff;
    border-left: #41b7ec 1px solid;
    border-bottom: #41b7ec 1px solid;
}
.content_box
{
    border-right: #c2d8e3 1px solid;
    border-top: #c2d8e3 1px solid;
    min-height: 390px;
    padding-bottom: 1em;
    border-left: #c2d8e3 1px solid;
    border-bottom: #c2d8e3 1px solid;
    height: 390px;
}
.content_inner
{
    clear: both;
    margin: 1.5em 12px;
    overflow: hidden;
    width: 714px;
}
.tab_menu
{
    clear: both;
    background: url(/v2008/images/10086/focus/bg_foc.gif);
    overflow: hidden;
    height: 29px;
}
.tab_menu LI
{
    padding-right: 2.5em;
    padding-left: 2.5em;
    background: url(/v2008/images/10086/focus/line.gif) no-repeat right 50%;
    float: left;
    padding-bottom: 0px;
    overflow: hidden;
    color: #0067ab;
    line-height: 29px;
    padding-top: 0px;
    height: 29px;
}
.tab_menu LI.on
{
    font-weight: bold;
    color: #0067ab;
    background-color: #fff;
}
.tab_menu LI.on A
{
    color: #0067ab;
}
.tab_menu LI.on A:visited
{
    color: #0067ab;
}
.tab_list
{
    clear: both;
    margin: 1em 0px 0px 1em;
    overflow: hidden;
    width: 720px;
    color: #4c6b7b;
    height: 26px;
}
.tab_list LI
{
    float: left;
    overflow: hidden;
    line-height: 24px;
    margin-right: 2em;
    height: 26px;
}
.tab_list LI SPAN
{
    float: left;
    overflow: hidden;
    line-height: 24px;
    margin-right: 2em;
    height: 26px;
}
.tab_list LI SPAN A
{
    color: #4c6b7b;
}
.tab_list LI.on SPAN
{
    border-right: #a0c597 1px solid;
    padding-right: 1em;
    border-top: #a0c597 1px solid;
    padding-left: 1em;
    font-weight: bold;
    font-size: 14px;
    background: #f3fef1;
    padding-bottom: 0px;
    border-left: #a0c597 1px solid;
    color: #2d9509;
    padding-top: 0px;
    border-bottom: #a0c597 1px solid;
    height: 24px;
}
.tab_list LI.on SPAN A
{
    color: #2d9509;
}
.tab_list LI.on SPAN A:visited
{
    color: #2d9509;
}
.pageturn
{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 1em;
    padding-top: 1em;
}
.loading
{
    display: block;
    padding-left: 30px;
    background: url(images/ico_loading.gif) #4b981d no-repeat 0.5em center;
    margin: 1em auto;
    width: 200px;
    color: #fff;
    line-height: 2em;
    height: 2em;
    text-align: left;
}
.title
{
    padding-right: 0px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 12px;
    background: url(/v2008/images/10086/public/10086_title_bg.gif) repeat-x;
    padding-bottom: 0px;
    margin: 0px;
    color: #2a7fc8;
    line-height: 28px;
    padding-top: 0px;
    height: 28px;
}
.title SPAN
{
    padding-left: 9px;
    float: left;
}
A.fr_title:link
{
    padding-right: 6px;
    font-weight: normal;
    float: right;
    color: #6c6c6c;
    text-decoration: none;
}
A.fr_title:visited
{
    padding-right: 6px;
    font-weight: normal;
    float: right;
    color: #6c6c6c;
    text-decoration: none;
}
A.fr_title:hover
{
    color: #000;
    text-decoration: underline;
}
.coumle1_text
{
    border-right: #a8bccd 1px solid;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    border-left: #a8bccd 1px solid;
    width: 363px;
    padding-top: 0px;
    border-bottom: #a8bccd 1px solid;
}
.time
{
    float: right;
    color: #a7a7a7;
    margin-right: 8px;
}
.map_part1
{
    border-right: #c2d8e3 1px solid;
    border-top: #c2d8e3 1px solid;
    border-left: #c2d8e3 1px solid;
    width: 738px;
    border-bottom: #c2d8e3 1px solid;
}
.map_part1 H1
{
    padding-left: 12px;
    font-weight: bold;
    font-size: 12px;
    background: url(/v2008/images/10086/focus/bg_foc.gif);
    color: #0067ab;
    line-height: 29px;
    height: 29px;
}
.map_part1 H1 SPAN
{
    float: left;
}
A.more:link
{
    padding-right: 5px;
    font-weight: normal;
    float: right;
    color: #5d94af;
    text-decoration: none;
}
A.more:visited
{
    padding-right: 5px;
    font-weight: normal;
    float: right;
    color: #5d94af;
    text-decoration: none;
}
A.more:hover
{
    color: #085277;
    text-decoration: underline;
}
.more_02
{
    margin-top: -1.5em;
    background: url(images/more_44x30.gif) no-repeat;
    float: right;
    overflow: hidden;
    width: 44px;
    color: #fff;
    line-height: 15px;
    height: 15px;
    text-align: center;
}
.more_02:hover
{
    background: url(images/more_44x30.gif) no-repeat 0px -15px;
    text-decoration: none;
}
.tag_box
{
    border-right: #c2d8e3 1px solid;
    border-top: #c2d8e3 1px solid;
    padding-bottom: 10px;
    border-left: #c2d8e3 1px solid;
    width: 738px;
    border-bottom: #c2d8e3 1px solid;
}
.tag_box P
{
    margin: 18px 10px;
    color: #4c4c4c;
    text-indent: 2em;
    line-height: 24px;
}
.tag_box UL
{
    padding-right: 0px;
    padding-left: 0px;
    background: url(/v2008/images/10086/focus/bg_foc.gif);
    padding-bottom: 0px;
    margin: 0px;
    overflow: hidden;
    padding-top: 0px;
    height: 29px;
}
.tag_box UL LI
{
    padding-right: 17px;
    padding-left: 17px;
    background: url(/v2008/images/10086/focus/line.gif) no-repeat right 50%;
    float: left;
    color: #0067ab;
    line-height: 29px;
}
.tag_box UL LI.on
{
    font-weight: bold;
    color: #0067ab;
    background-color: #fff;
}
.zhengwen_10086
{
    padding-right: 10px;
    margin-top: 2px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.biaoqian1
{
    border-right: #a0c597 1px solid;
    padding-right: 13px;
    border-top: #a0c597 1px solid;
    padding-left: 13px;
    font-weight: bold;
    font-size: 14px;
    float: left;
    padding-bottom: 0px;
    margin: 0px 15px 0px 0px;
    overflow: hidden;
    border-left: #a0c597 1px solid;
    color: #2d9509;
    line-height: 25px;
    padding-top: 0px;
    border-bottom: #a0c597 1px solid;
    height: 25px;
    background-color: #f3fef1;
}
.biaoqian2
{
    float: left;
    color: #4c6b7b;
    line-height: 32px;
    margin-right: 15px;
    height: 32px;
}
.tar_biaoti
{
    clear: both;
    border-top: #c2d8e3 3px solid;
    margin: auto 10px;
    color: #0e8fcb;
    line-height: 26px;
    border-bottom: #c2d8e3 1px solid;
    height: 26px;
}
.tit_p A.more_03
{
    background: url(images/imgSprite_03.gif) no-repeat center -486px;
    float: right;
    margin: -20px 8px 0px 0px;
    overflow: hidden;
    width: 53px;
    height: 12px;
}
.tit_p A.more_04
{
    background: url(images/imgSprite_03.gif) no-repeat center -486px;
    float: right;
    margin: -20px 8px 0px 0px;
    overflow: hidden;
    width: 53px;
    height: 12px;
}
.tit_p A.more_04
{
    background: url(images/imgSprite_03.gif) no-repeat center -503px;
}
.sidebar_l_f .p1
{
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    line-height: 18px;
    padding-top: 8px;
}
.sidebar_l_f .p2
{
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    line-height: 18px;
    padding-top: 8px;
}
.sidebar_l_f .p3
{
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    line-height: 18px;
    padding-top: 8px;
}
.sidebar_l_f .p1
{
    background: url(images/bg_2x2_line.gif) repeat-x 50% bottom;
}
.sidebar_l_f .p2
{
    padding-bottom: 0px;
}
.sidebar_l_f .p3
{
    padding-top: 0px;
}
.sidebar_l_f .p2 A
{
    float: right;
    text-decoration: underline;
}
.sidebar_l_f .p3 A
{
    float: right;
    text-decoration: underline;
}
.sidebar_l_f .p4
{
    clear: both;
    padding-left: 5px;
    overflow: hidden;
    width: 170px;
}
.sidebar_l_f .p4 A
{
    background: url(images/bg_160x26.gif) no-repeat;
    float: left;
    margin: 0px 4px;
    overflow: hidden;
    width: 75px;
    line-height: 23px;
    height: 26px;
    text-align: center;
}
.sidebar_l_f .p4 A:hover
{
    background: url(images/bg_160x26.gif) no-repeat -85px 0px;
    text-decoration: none;
}
table
{
    border-collapse: collapse;
}
.main_title
{
    border-bottom: solid 1px #a8bccd;
    padding-bottom: 4px;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 12px;
}
.main_pre break
{
    display: block;
    clear: both;
}
.main_pre p
{
    float: left;
    display: block;
}
.main_pre label
{
    text-align: right;
    display: inline-block;
    width: 80px;
}
.operatorPanel
{
    clear: both;
    margin-top: 12px;
    text-align: center;
}
.main_list
{
    border-top: solid 1px #a8bccd;
    padding-top: 12px;
    text-align: center;
    margin-top: 1em;
}
.main_list .grid
{
    border: 1px solid #C1D1D9;
    width: 100%;
}
.main_list tr
{
    height: 26px;
    border: 1px solid #C1D1D9;
}
.main_list thead tr
{
    background-color: #CBE6F9;
}
.main_list td
{
}
tbody tr.even
{
    background-color: #F9FAFC;
}
tbody .tr:hover
{
    background-color: #A3E2FF;
    cursor: pointer;
}
.main_detail fieldset, .main_pre fieldset
{
    border: 1px dotted #a8bccd;
    margin-top:8px;
}
.main_pre p
{
    vertical-align: top;
}
.main_detail label
{
    vertical-align: top;
    text-align: right;
    display: inline-block;
    width: 80px;
}
.main_pager 
{
    height:20px;
    margin-top:5px;
    margin-bottom:5px;
}
.main_pager a
{
    float: left;
    padding: 0 6px;
    margin-right: 2px;
    height: 20px;
    border: 1px solid;
    line-height: 20px;
    overflow: hidden;
    border-color: #E6E7E1;
    background-color: #FFF;
    color: #09C;
}
.main_pager a:hover
{
    border: solid 1px #009ACE;
    text-decoration: none;
}

.main_pager a.currentPage
{
    color:White;
    background-color:#009ACE;
}
.main_detail .message
{
    width: 100%;
    display: inline-block;
    text-align: center;
    color: Red;
}
.validation-summary-container
{
    background-color: #FFFF99;
    border: solid 1px red;
    padding: 12px 12px 12px 30px;
    line-height: 22px;
    margin-bottom: 12px;
}
.validation-summary-container span
{
    font-weight: bold;
    color: red;
}
.field-validation-error
{
    background-color: #FFFF99;
    border: solid 1px red;
    padding: 2px 3px 2px 3px;
    line-height: 22px;
    margin-bottom: 12px;
    color:Red;
}

.validation-summary-container li, .validation-summary-container ul
{
    list-style-type: disc;
}
.validation-summary-container ul
{
    margin-left: 12px;
}



/* model dialog */

/* jqModal confirm CSS courtesy of;
   Alexandre Plennevaux <alexandre@pixeline.be>,
   Brice Burgess <bhb@iceburg.net> */

div.jqmConfirm { /* contains + positions the alert window */
  position: absolute;
  top: 20%;
  width: 100%;
  display: none;
}
    
/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html div.jqmConfirm {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(20 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

div.jqmConfirmWindow {
  height:auto;
  width: auto;
  margin: auto;
  
  max-width:400px;
  padding: 0 10px 10px;
  margin-left:0px;
  
  background:#F9FBFD;
  border:1px dotted #C1D1D9;
}

.jqmConfirmTitle{
  margin:5px 2px;
  height:20px;
  color:#000;
  background:#FFF;
}
.jqmConfirmTitle h1{
  margin:5px 2px;
  padding-left:5px;
  padding:0;
  font-size:14px;
  text-transform:capitalize;
  letter-spacing:-1px;
  font-weight:bold;
  color:#0167B2;

  float:left;
  height:20px;
}

div.jqmConfirm .jqmClose em{display:none;}
div.jqmConfirm .jqmClose {
  width:20px;
  height:20px;
  display:block;
  float:right;
  clear:right;
  background:transparent url(confirm/close_icon_double.png) 0 0 no-repeat;
}

div.jqmConfirm a.jqmClose:hover{ background-position: 0 -20px; }

div.jqmConfirmContent{
  border-top:px;
  color:#000;
  font:11px/14pt arial;
  padding:5px 20px 5px;
  margin:5px;
  border:1px dotted #111;
  letter-spacing:0px;
  background:#FFF url(confirm/darkgrid.png);
}

/* 
  clearing a float without additional markup
   http://www.positioniseverything.net/easyclearing.html */

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}


/* auto completed */
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}

.loading
{
    display:block;
}
.loadingReady
{
    display:none;
} 