.ShopDealLog-List{background-image: url('icons/ShopDealLog-List.png');}
.PointRebate-List{background-image: url('icons/PointRebate-List.png');}
.PointPolicy-List{background-image: url('icons/PointPolicy-List.png');}
.Task-Recharging{background-image: url('icons/DealLog-Rollback.png');}
.Task-LimitAmount{background-image: url('icons/Task-List.png');}
.AdminUser-List{background-image: url('icons/AdminUser-List.png');}
.DealLog-List{background-image: url('icons/DealLog-List.png');}
.Distributor-List{background-image: url('icons/Liquidate-list.png');}
.AccountType-List{background-image: url('icons/AccountType-List.png');}
.Role-List{background-image: url('icons/Role-List.png');}
.SystemDealLog-List{background-image: url('icons/SystemDealLog-List.png');}
.CashDealLogSummary-List{background-image: url('icons/CashDealLogSummary-List.png');}
.Shop-List{background-image: url('icons/Mail_compose.png');}
.Order-List{background-image: url('icons/Shop-List.png');}
.Good-List{background-image: url('icons/Globe.png');}
.PosEndPoint-List{background-image: url('icons/PosEndPoint-List.png');}
.Log-List{background-image: url('icons/Log-List.png');}
.PrintTicket-List{background-image: url('icons/PrintTicket-List.png');}
.Commodity-List{background-image: url('icons/Commodity-List.png');}
.AccountLevelPolicy-List{background-image: url('icons/AccountLevelPolicy-List.png');}
.PointGift-List{background-image: url('icons/PointGift-List.png');}
.AmountRate-List{background-image: url('icons/AmountRate-List.png');}
.CashDealLog-List{background-image: url('icons/CashDealLog-List.png');}
.PointRebateLog-List{background-image: url('icons/PointPolicy-List.png');}
.Account-List{background-image: url('icons/Account-List.png');}  