/*
* @Author: Bobbi
* @Date:   2018-05-24 14:59:54
* @Last Modified time: 2018-10-23 17:25:07
*/
body{max-width:640px;margin:0 auto;}
p,ul,li,h1,h2,h3,h4,h5,h6,dl{margin:0;padding:0;font-weight:lighter;}
li{list-style:none;}
body{background-color:#f3f3f3;font-size:1.2rem;}
*>img{max-width:100%;}
a:focus{color:}
.am-slider-default .am-control-nav{bottom:15px;}
.bgFFF{background-color:#fff;}
.menuBox{padding:.5rem 0;}
.menuBox a{color:#d8b66c;font-weight:lighter;display: inline-block;padding:1rem .5rem;font-size:1.4rem}
.menuBox a p{padding-top:.5rem;}
.menuBox a img{width:75%;}
.am-slider-default{margin-bottom:.5rem;}
.h_tit{margin:.5rem 0;padding-top:.8rem;padding-bottom:.5rem;}
.h_tit{font-size:1.6rem;}
.h_tit a{font-size:1.3rem;display: inline-block;padding-top:.5rem;}
.color_b59f76 a,.color_b59f76{color:#b59f76;}

.h_proList a{display:block;background-color:#fff;padding:.3rem}
.h_proList li{padding:0 .2rem;padding-bottom:.4rem;}
.h_proList li div{padding:0 .5rem;}
.h_proList li h2{line-height:18px;min-height:54px;overflow:hidden;}
.h_proList li p{font-size:1.4rem;}

.am-navbar{height:55px;line-height:55px;padding-top:.5rem;border-top:1px solid #dcdcdc;}
.am-with-fixed-navbar{padding-bottom:60px;}
.h_proList2 a h2,.am-header-default .am-header-title{color:#1c1c1c}
.buycart_k h2 img{max-width:8rem;margin-left:-1rem}
.buycart_k h3{font-size:1.5rem;margin-top:1rem;}
.buycart_k h3 p{font-size:1.7rem;}
.buycartList{position:relative;padding:.5rem;height:90px;margin-top:.5rem}
.car-block{position:absolute;left:1.2rem;top:2.5rem;display: inline-block;}
.car_proInfo .car_proImg{position:absolute;left:40px;top:.5rem;}
// .car_proInfo{padding-left:40px;}
.car_proInfo .car_proImg img{width:80px;height:80px;}
.car_proInfo .car_proText{padding-left:12rem;}
.car_proText h2{padding-right:6rem;font-size:1.4rem;line-height:1.8rem;}
.car_proText,.car_proText a{color:#535353}
.car_price{position:absolute;top:.5rem;right:.8rem;display: inline-block;font-size:1.3rem}
.d_carpro{position:absolute;bottom:0rem;right:1rem;display: inline-block;font-size:2.8rem;font-weight:lighter;}
.d_carpro a{display: inline-block;color:#777;}

.jiajian{position:absolute;left:12.8rem;bottom:1rem;}
.jiajian input{background:none;border:1px solid #cfa972;width:2.8rem;height:2.5rem;display: inline-block;}
.jiajian input.text_box{width:3rem}
.am-ucheck-checkbox:hover:not(.am-nohover):not(:disabled)+.am-ucheck-icons, .am-ucheck-radio:hover:not(.am-nohover):not(:disabled)+.am-ucheck-icons, .am-ucheck-radio:checked+.am-ucheck-icons,.am-ucheck-checkbox:checked+.am-ucheck-icons, .am-ucheck-radio:checked+.am-ucheck-icons{color:#b59f76}
.jiajian span{padding-left:.5rem;color:#898989;font-size:1.3rem;}
.down_order{height:50px;line-height:50px;border-top:1px solid #dcdcdc;position:fixed;left:0;width:100%;font-size:1.4rem;bottom:55px;}
.jiesuan{background:#b59f76;color:#fff;text-align:center;width:30%;}
.jiesuan:focus{color:#fff;}
.car-block2{top:.5rem;}
.down_hj{padding-left:80px;}
.down_yf{color:#777;font-size:1.2rem;padding-right:.5rem;}
.h55{height:55px;}

.orderMenuBox {padding:.5rem 0;}
.orderMenuBox h2{height:30px;margin-bottom:.5rem;}
.orderMenuBox a{color:#6d6d6d;display:inline-block}
.orderMenu1 h2{background:url(../images/order1.png) no-repeat center;background-size:auto 100%;}
.orderMenu2 h2{background:url(../images/order2.png) no-repeat center;background-size:auto 100%;}
.orderMenu3 h2{background:url(../images/order3.png) no-repeat center;background-size:auto 100%;}
.orderMenu4 h2{background:url(../images/order4.png) no-repeat center;background-size:auto 100%;}
.orderMenu5 h2{background:url(../images/order5.png) no-repeat center;background-size:auto 100%;}
.orderMenuBox  a.on{color:#b59f76;}
.orderMenu1 a.on h2{background:url(../images/order1_h.png) no-repeat center;background-size:auto 100%;}
.orderMenu2 a.on h2{background:url(../images/order2_h.png) no-repeat center;background-size:auto 100%;}
.orderMenu3 a.on h2{background:url(../images/order3_h.png) no-repeat center;background-size:auto 100%;}
.orderMenu4 a.on h2{background:url(../images/order4_h.png) no-repeat center;background-size:auto 100%;}
.orderMenu5 a.on h2{background:url(../images/order5_h.png) no-repeat center;background-size:auto 100%;}

.mb5{margin-bottom:.5rem;}
.border_list{padding-top:.8rem; padding-bottom:.8rem;}
.border_list h2{font-size:1.6rem;}
.border_list p{font-size:1.4rem;}
.c_ab5555{color:#ab5555;}
.order_list_pro{position:relative;padding:.5rem 0;min-height:100px;}
.order_list_pro img{width:100px;}
.order_list_proImg{position:absolute;left:0;top:.5rem;}
.order_list_proInfo{padding-left:110px;}
.order_list_proInfo h3 a{font-size:1.4rem;color:#333;line-height:18px;display: inline-block;}
.order_list_proInfo p span{display: inline-block;margin-left:1rem;}
.order_list_button{position: absolute;left:0;bottom:0;width:100%;height:30px;}
.order_list_button a{display: inline-block;padding:.3rem 1rem;border-radius:4px;font-size:1.2rem;}
.btYello{background-color:#dab97d;color:#fff;}
.bg_e6e6e6{background-color:#e6e6e6;color:#535353;}
.bg_e8bb67{background-color:#e8bb67;color:#fff;}
.jiesuan2{width:100%;font-size:1.6rem;}

.userInfo li{background:#fff;line-height:45px;padding:0 1rem;font-size:1.4rem;margin-bottom:.1rem;color:#333;}
.userInfo li a{color:#333;display:block;}
.userInfo li a span{font-size:2rem;color:#666}

.userImgBox{height:100px;display: table;position:relative;width:100%;}
.userTx{display: inline-block;width:80px;height:80px;border-radius:50%;position:absolute;left:2rem;top:1rem;}
.userTx img{border-radius:50%;width:100%;}
.userTxInfo{height:100px;padding-left:9.5rem;line-height:20px;}
.align-center-vertical{display:flex;justify-content:left;align-items:center;}
.userTxInfo h2{font-size:1.6rem;}
.userTxInfo h2 b{font-weight:normal;}
.userTxInfo h2 span{color:#aaa;}
.userTxInfo h2 p{color:#b59f76;font-size:1.3rem;padding-top:.5rem;}
.border_b{border-bottom:1px solid #dadada}
.s_addrs p{line-height:20px;margin-top:.3rem;}
.s_addrs2{padding-left:50px;position:relative;}
.fs15{font-size:15px;}
.s_addr_btn{border-top:1px solid #b8b8b8;padding-top:.5rem;margin-top:.8rem;}
.s_addr_btn a{display:inline-block;padding-left:1rem;color:#555;}

.add_addrs li{background:#fff;margin-bottom:.1rem;padding:0 1rem;position:relative;}
.add_addrs li input{background:none;width:100%;height:40px;line-height:40px;border:0;}
.add_addrs li {}
.add_addrs li a{display:block;height:40px;line-height:40px;color:#777}
.add_addrs li span.am-icon-angle-right,.fs18{font-size:1.8rem;}
.add_addrs li span.am-icon-angle-right{position:absolute;right:1rem;top:.5rem}
.add_addrs li textarea{background:none;width:100%;height:80px;border:0;}
.userTxInfo h2 img{vertical-align:middle;margin-top:-8px;margin-left:.3rem;}
.border_t{border-top:1px solid #efefef;margin-top:.5rem;}
.border_t a{color:#666}
.fs14{font-size:14px;}
.express-area-box header h3,.hot-city li,.area-list li{line-height:40px;}
.selet-area-wrap span{padding-top:.8rem;}

.upPassword li{position: relative;padding-left:90px;}
.upPassword li span{position: absolute;left:1rem;height:40px;line-height:40px;width:80px;display:inline-block;color:#000;}
.login li{padding-left:4rem;}
.upPassword li:last-child{margin-top:.5rem;}
.upBtn{width:100%;height:40px;line-height:40px;background:#b59f76;color:#fff;border-radius:4px;border:0;}
.reg li:last-child{margin-top:0;}
.jifenSidea{padding-top:1rem;padding-bottom:1rem;}
.jifenSidea span {font-size:18px;}
.jifenSidea span b{color:#b59f76;font-weight:lighter;font-size:24px;padding-right:8px;display:inline-block;padding-left:5px;}
.jifenSidea .user_dj{font-size:1.4rem;padding-top:10px;color:#b59f76;}

.jifen_tab a{display:block;width:100%;height:40px;line-height:40px;color:#2e2e2e;position: relative;}
.jifen_tab li.on a{color:#b59f76;}
.jifen_tab li:last-child a:before{width:1px;height:22px;background-color:#b59f76;left:0;top:9px;content:'';position: absolute;}
.jifen_lists p{font-size:12px;color:#636363;padding-bottom:.5rem;}
.jifen_lists h2{font-size:1.8rem;color:#3a3a3a;padding:10px 0;}
.jifen_lists{position: relative;margin-top:1px;}
.jifen_lists span{position:absolute;right:30px;font-size:22px;top:15px;}

.jifenSidea p{color:#adadad;font-size:1.3rem;padding:.2rem 0;padding-left:.5rem;padding-top:.8rem;}
.input_jifen{position:relative}
.input_jifen .text{width:100%;border:2px solid #b59f76;border-radius:4px;line-height:35px;padding:0 1rem;}
.input_jifen .btn{width:80px;background:#b59f76;border-radius:0 4px 4px 0;line-height:35px;position:absolute;right:0;top:2px;border:0;color:#fff;}
.fenxiao h3{font-size:1.4rem;padding-top:1rem;}
.fenxiao h2{padding-top:0;}

.ksreg a{color:#000;line-height:30px;}
.inline-block{display:inline-block}
.w50{width:50%;position:static;}
.orderss li{height:50px;background:#fff;margin-bottom:1px;padding:0 1rem;line-height:50px;}
.orderss li a{color:#444}
.mb1{margin-bottom:1px}
.xqPirice .price{color:#b59f76;font-size:16px;font-weight:bold;font-style:normal}
.xqPirice .price b{color:#b59f76;font-size:30px;}
.xqPirice span{font-size:14px;margin-left:1.5rem;padding-top:22px;}
.xqBxo h1{font-size:2rem;color:#000;}
.xqTab a{color:#333}
.xqTab i{visibility: hidden;}
.xqTab li.on a{color:#b59f76}
.xqTab li.on i{visibility: visible;}
.xq_btn{bottom:0;}

.bg_dab97d{background-color:#dab97d;color:#fff;}
.bg_e8bb67{background-color:#e8bb67;color:#fff;}
.xq_btn ul{display:inline-block;width:35%;}
.xq_btns{padding-top:5px;}
.xq_btns li {line-height:20px;}
.xq_btns li a{color:#b59f76;}
.userPj h2{margin-top:.5rem;font-size:16px;}
.userPj h2 img{width:30px;height:30px;border-radius:50%;vertical-align:middle;margin-right:.5rem;}
.userPj{margin-top:5px;}
.userPj p{font-size:1.3rem;color:#888;margin:.3rem 0;}
.userPj div{font-size:1.6rem;color:#333}
.zhezhao{background-color:rgba(0,0,0,.5);position:fixed;top:0;left:0;width:100%;height:100%;z-index:998;display:none;}
.add_bgu{background:#eee;border-radius:15px 15px 0 0;position:fixed;bottom:0;left:0;height:80%;z-index:999;width:100%;display:none;z-index:999;}
.shdzBox{position:fixed;bottom:0;left:0;height:80%;z-index:999;width:100%;z-index:999;background-color:#fff;display:none;}
.add_pro{position:relative}
.add_pro  a{position:absolute;left:0;top:0;}
.add_pro dl{padding-left:115px;padding-top:25px;font-size:1.4rem;}
.add_pro dl dt{color:red;}
.add_bgu h2{margin:1rem 0;}

/* 新增0928 */
.gd_box{max-height:78%;overflow-y:scroll;padding:10px;}

/*.car-block2{width:100%;height:50px;}*/


.shuxing{margin:1rem 0;}
.shuxing span{display:inline-block;padding:.4rem 1rem;background:#dab97d;color:#fff;border-radius:.5rem;margin-right:.3rem;}
.shuxing span:focus{background-color:red;}
.add_btn_buy{;position:absolute;bottom:1.5rem;height:40px;line-height:40px;background:#dab97d;width:90%;color:#fff;border-radius:.5rem;text-align:center;left:5%;font-size:1.5rem;}
.add_btn_buy:focus,.add_btn_buy:hover{color:#fff;}
.add_bgu .close{position:absolute;top:20px;right:20px;z-index:99;}
.miaosha_pro{background:url(../images/ms_bg.jpg.png) repeat-y center;background-size:100%;min-height:300px;}

.miaosha_pro_con{background-color:#b48546}
.miaosha_pro_con li{padding:.5rem;}
.miaosha_pro_con li .ms_pro_max{background:#cba96c;}
.ms_pic{padding:2px;padding-bottom:0;}
.miaosha_pro_con li a{display:inline-block;position:relative;}
.miaosha_pro_con li a span{height:50px;line-height:50px;text-align:center;color:#fff;font-size:16px;position:absolute;left:0;top:55px;background-color:rgba(203,169,108,.7);width:100%;}
.ms_info{height:45px;background-size:auto 45px;background-position:right center;background-repeat:no-repeat;position:relative;padding-left:50px;}
.await_ms{background-image:url(../images/d_ms.png);}
.now_ms{background-image:url(../images/x_ms.png);}
.end_ms{background-image:url(../images/j_ms.png);}
.ms_info .price{position:absolute;line-height:45px;color:#b81313;font-weight:bold;font-size:14px;left:0;top:0;}
.ms_info .price b{font-size:26px;}
.ms_info h2{font-size:12px;line-height:14px;font-weight:bold;color:#b81313;padding-top:3px}
.ms_info h4{font-size:12px;line-height:10px;color:#000;text-decoration:line-through;-webkit-transform-origin: 0% 0%;
       -webkit-transform:scale(0.7);}
.ms_info h3 a{font-size:12px;color:#cba96c;background-color:#fff;-webkit-transform-origin: 0% 0%;
       -webkit-transform:scale(0.7);}
.ms_pic .end_ms_pic{width:80px;height:80px;background:url(../images/end_ms.png) no-repeat;background-size:80px 80px;position:absolute;right:10%;bottom:20%;}



.data-show-box{background:url(../images/djs_time.png) no-repeat center;width:300px;background-size:100% auto;position:absolute;left:50%;margin-left:-150px;top:160px;height:80px;font-size:20px;font-weight:bold;color:#fff;line-height:60px;padding-left:70px;text-align:center;}
.data-show-box span{display:inline-block;width:53px;}
.miaosha{position:relative;}
.date-tiem-span_d{position:absolute;left:}
.add_btn_buy2{bottom:6.5rem;}
.userInfo li{padding:0 1.5rem;}
.userInfo li span{display:inline-block;text-align:right;}/*width:50%;*/
.userInfo li input{text-align:right;border:0;}

.sexBox{width:200px;background-color:#fff;border:1px solid #efefef;position:fixed;top:30%;left:50%;margin-left:-100px;padding:1.5rem;padding-top:.5rem;padding-bottom:2rem;display:none;z-index:999;}
.sexBox dt{height:35px;line-height:35px;}
.sexBox dd{margin-right:-.8rem;}
.sexBox span{width:50px;height:35px;display:inline-block;line-height:35px;text-align:center;border:1px solid #eee;margin-right:.6rem;}


/* 新增18-10-14    修改 10-22*/
.borderTB_1aa97d{border-top:3px solid #1aa97d;border-bottom:3px solid #1aa97d}
.menuBox2 li a{color:#000;font-weight:normal}
.h_proList_siderItme{position:relative;padding:10px;min-height:140px;background:#fff;margin-bottom:2px;}
.h_proList_siderItme h2 a{color:#000;font-size:16px;font-weight:normal;line-height:20px;}
.h_proList_siderItme h2{padding-bottom:50px;}
.h_proList_siderItme p{font-weight:normal;color:#666;font-size:13px;}
.h_proList_siderItme .simgBox img{width:120px;height:120px;position:absolute;left:10px;top:10px;}
.n_shopsjInfo{padding-left:130px;padding-right:20px;}
.s_addrs_z{position:absolute;left:140px;bottom:10px;}
.s_more{position:absolute;right:10px;top:0;height:120px;line-height:120px;color:#999;}
.s_more:focus{color:#1aa97d}
.s_more i{font-size:20px;}

.selectCity{background:#1aa97d;padding:10px;}
.selectCity h2{text-align:center;color:#fff;margin-bottom:.5rem;}
.selectCity h2 a{color:#fff;}
.selectCity h3{position:relative;}
.selectCity h3 input{background-color:#fff;border:0;height:35px;border-radius:4px;padding:0 10px;width:100%;font-size:14px;}
.selectCity h3 button{position:absolute;right:10px;top:0px;height:35px;width:40px;background:#fff;border:0;text-align:center;color:#1aa97d;font-weight:normal;font-size:14px;}
.h_tit2 span.am-fr{margin-top:-5px;}
.h_tit2{position:relative}
.h_tit2:before{position:absolute;right:47px;top:14px;height:22px;width:1px;background:#bbb;}
.h_tit2 span.am-fr a img{height:22px;margin-top:-8px;margin:0 5px;}
.h_tit2 span.am-fr a{margin-left:5px;}

.s_addrs_z h3{font-size:17px;font-weight:bold;color:#b0a673;margin-bottom:0;}
.s_addrs_z p{color:#b0a673;font-size:13px;}

/* 新增18-10-19 */
.mytji h2{font-size:16px;line-height:40px;border-bottom:1px solid #ddd;margin-bottom:10px}
.mytji table{width:100%;text-align:center;line-height:40px;}
.mytji table tr th{text-align:center;font-size:18px;font-weight:normal}
.mytji table tr td{font-size:14px;font-weight:normal}
.mytji table th:nth-child(2n+1){    background-color:#f3d59c;}
.mytji table th:nth-child(2n+0){  background-color:#fae9ca;}
.mytji table tr:nth-child(2n+1) td:nth-child(2n+1){background-color:#fbf2e1;}
.mytji table tr:nth-child(2n+1) td:nth-child(2n+0){background-color:#fdf8ef;}
.mytji table tr:nth-child(2n+0) td:nth-child(2n+1){background-color:#fdf8ef;}
.mytji table tr:nth-child(2n+0) td:nth-child(2n+0){background-color:#fbf2e1;}

.jifen_lists h2{padding-bottom:0;}
.jifen_lists h4{font-size:14px;}
.jifen_lists span{color:#b59f76;top:25px;}

.vipContent ul li{height:40px;}
.vipContent ul li label{line-height:40px;display:block;height:40px;margin-bottom:0;}
.vipContent ul li label samp{font-size:14px;display: inline-block;border-radius:15px;color:#b59f76;border:1px solid #b59f76;line-height:28px;height:28px;width:60px;margin:0 12px;text-align:center;font-family:"Helvetica";font-weight:normal;}
.vipContent ul li label samp.on{background-color:#b59f76;color:#fff;}
.vipContent ul li span{display: inline-block;width:auto;color:#b59f76}

/* 新增18-10-22 */
.y_num{font-size:12px;color:#b59f76;}
.order_list_proInfo h3{min-height:36px}
.border_list p.am-text-right{padding-bottom:25px;}

/* 新增18-10-23 */
.h_proList_siderItme .n_shopsjInfo h2{padding-bottom:5px;}