@{
    ViewBag.Title = "_layout.cshtml";
}

<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <title>微信商城</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/css/amazeui.min.css">
    <link rel="stylesheet" href="/css/app.css?v1.8">
    <link href="/css/area.css?v1.1" rel="stylesheet" />
    <link href="/css/weui.min.css" rel="stylesheet" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/amazeui.min.js"></script>
    <script src="/js/fz.js?v1.3"></script>
    

</head>
<body style="height:100%">
    @RenderBody()
    <div data-am-widget="navbar" class="am-navbar am-cf bgFFF color_b59f76"
         id="">
        <ul class="am-navbar-nav am-cf am-avg-sm-4">
            <li>
                <a href="/JuMeiMall/JuMeiMallIndex" class="">
                    <img src="/images/f_menu1.png" alt="首页" />
                    <span class="am-navbar-label">首页</span>
                </a>
            </li>
            <li>
                <a href="/JuMeiMall/GetShoppingCart" class="">
                    <img src="/images/f_menu2.png" alt="首购物车页" />
                    <span class="am-navbar-label">购物车</span>
                </a>
            </li>
            <li>
                <a href="/PersonalCentre/MyOrder" class="">
                    <img src="/images/f_menu3.png" alt="订单详情" />
                    <span class="am-navbar-label">订单详情</span>
                </a>
            </li>
            <li>
                <a href="/PersonalCentre/index" class="">
                    <img src="/images/f_menu4.png" alt="个人中心" />
                    <span class="am-navbar-label">个人中心</span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>
