@{
    ViewBag.Title = "UpdatePassword";
}
<script type="text/javascript">
    $(function () {
        $("#updatePwd").click(function () {
            var oldPwd = $("#oldPwd").val();
            var newPwd = $("#newPwd").val();
            var newPwdConfirm = $("#newPwdConfirm").val();
            if (oldPwd == null || oldPwd == "") {
                $.openDialog("请输入旧密码");
                return;
            }
            if (newPwd == null || newPwd == "") {
                $.openDialog("请输入新密码");
                return;
            }
            if (newPwdConfirm != newPwd ) {
                $.openDialog("两次输入密码不一致");
                return;
            }
            $.openLoading("修改中");
            $.ajax({
                url: "/PersonalCentre/UpdatePassword",
                data: { oldPwd: oldPwd,newPwd:newPwd },
                type: "post",
                dataType: "json",
                success: function (data) {
                    $.closeLoading();
                    if (data.Code == 0) {
                        $("#oldPwd").val('');
                        $("#newPwd").val('');
                        $("#newPwdConfirm").val('');
                        $.openDialog("修改成功");
                    } else {
                        $.openDialog(data.Msg);
                    }
                },
                error: function () {
                    $.closeLoading();
                    $.openDialog("系统异常，请检查网络");
                }
            })

        });

    });

</script>
<header data-am-widget="header" class="am-header am-header-default bgFFF mb5">
    <div class="am-header-left am-header-nav">
        <a href="/PersonalCentre/Index" class="">
            <img class="am-header-icon-custom" src="data:image/svg+xml;charset&#x3D;utf-8,&lt;svg xmlns&#x3D;&quot;http://www.w3.org/2000/svg&quot; viewBox&#x3D;&quot;0 0 12 20&quot;&gt;&lt;path d&#x3D;&quot;M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z&quot; fill&#x3D;&quot;%231c1c1c&quot;/&gt;&lt;/svg&gt;" alt="" />
        </a>
    </div>
    <h1 class="am-header-title">
        修改密码
    </h1>
</header>
<div class="add_addrs upPassword fs15">
    <ul>
        <li><span>旧密码</span><input type="password" id="oldPwd" name="" value="" placeholder="请输入旧密码"></li>
        <li><span>新密码</span><input type="password" id="newPwd" name="" value="" placeholder="请输入新密码"></li>
        <li><span>确认密码</span><input type="password" id="newPwdConfirm" name="" value="" placeholder="请确认新密码"></li>
    </ul>
    <div class="am-container am-padding-vertical-xl">
        <input type="button" value="确认修改" id="updatePwd" class="upBtn" />
    </div>
</div>
