
<link href="/Scripts/uploadify/uploadify.css" rel="stylesheet" />
<script src="/js/jquery-1.9.0.min.js"></script>
<script src="/Scripts/uploadify/jquery.uploadify-3.1.js"></script>
<script src="/Scripts/kindeditor-4.1.10/kindeditor-min.js"></script>
<!--------中间更换内容------->

<link href="/css/shop_style.css" rel="stylesheet" />
<div class="mainbar_wrapper">


    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><span></span><a href="#">商品管理</a></li>
            <li><span></span><a href="#">添加分类</a></li>
        </ul>
    </div>


    <div class="container-fluid">
        <h2 class="add_tittle">表单</h2>

        <div class="addgoods_name">

            <div class="addgoods_name_a">
                <em class="addgoods_name_top"><span class="goods_icon">*</span>名称：</em>
                <input type="text" id="name" name="name"/>
            </div>
        </div>

        <div class="clear"></div>
        <div style="margin-top:20px">
            <button class="baoxunxiugai tianjiafabu" id="AddCategory">添加</button>
        </div>



    </div>

    <!--------中间更换内容------->
</div>


<div id="TopMessageDiv">
    <script src="/js/shuxing_click.js"></script>
    <script src="/js/CommodityCategory.js"></script>
</div>


